* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
  height: 100%;
}

body {
  font-size: 1rem;
  background-color: #f0f0f0;
  text-align: center;
  height: 100%;
  min-height: 100%;
}

.page {
  width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  min-height: 100%;
  padding: 10px;
  text-align: left;
  position: relative;
}

.ad {
  background-color: #dfdfdf;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  box-sizing: content-box;
  text-align: center;

  &--banner-top {
    > div {
      width: 1000px;
      height: 300px;
    }
  }

  &--skyscraper-right {
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    > div {
      width: 300px;
      height: 778px;
    }
  }

  &--banner-middle {
    margin-top: 1000px;
    > div {
      width: 580px;
      height: 400px;
    }
  }
}

